# um exemplo de como colocar seu caminho para encontrar a rota do usuario logado ao edge

COUNT_MICROSOFT="Conta da Microsft EXEMPLO  C:\\Users\\SEU USUARIO\\..."

USER_PROFILE='--profile-directory=Default'

#Caso queira mudar de perfil, use --profile-directory=Profile {num do perfil}