# um exemplo de como colocar seu caminho para encontrar a rota do usuario logado ao edge

COUNT_MICROSOFT="--user-data-dir=C:\\Users\\{troque pelo seu nome\\AppData\\Local\\Microsoft\\Edge\\User Data"


USER_PROFILE='--profile-directory=Default'

#Caso queira mudar de perfil, use --profile-directory=Profile {num do perfil}